hr.hr1 {
    margin: 0 auto 20px auto;
    width: 44%;
    border: none;
    height: 2px;
    /* Set the hr color */
    border: 1px solid rgb(10, 0, 0);
   
}
hr.hr2 {
    margin: 10px auto 20px 0;
    width: 80%;
    border: none;
    height: 2px;
    /* Set the hr color */
    color: rgb(51, 53, 65);
    background-color: rgb(51, 53, 65); /* Modern Browsers */
}
hr.hr3 {
    margin: 10px auto 10px 0;
    width: 100%;
    border: none;
    height: 2px;
    /* Set the hr color */
    color: rgb(51, 53, 65);
    background-color: rgb(51, 53, 65); /* Modern Browsers */
}
.section1 {
    text-align: center; 
    padding-top: 70px; 
    padding-bottom: 50px;
}
.section2 {
    background-color: rgb(51, 53, 65);
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 0.7em;
}
.section3 {
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 50px;
  
}
p.about > span {
    font-weight: bold;
}

body {
    background: rgb(238, 236, 236); 
    font-family: 'Poppins', sans-serif;
    color: rgb(51, 53, 65);
  }
  

  
div.a4 {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
   
    width: 21cm;
    height: 29.7cm; 
  }
